<div class="footer">

    <footer>
     @jamshed Khan.All Rights Reserved
    </footer>
    <div class="links">
 
        <a href="/">Home</a>
        <br>
        <a href="/user/profile">profile</a>
     </div>
 </div>