.container {
    display: flex;

    #feed-post {
        width: 70%;
        padding: 10px;

        textarea {
            width: 20rem;
            height: 5rem;
            border-radius: 10px;
            border: 2px solid black;
        }
        .post{
            width: 5rem;
            height: 2rem;
            text-align: center;
            font-size: 15px;
            border-radius: 10px;
            margin-left: 5px;
        }
    }
    #user-friend {
        width: 30%;
        padding: 10px;
    }
    #users{
        width: 30%;
        padding: 10px;
    }
}
